# Virtual environments
venv/
.venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/*
!staticfiles/.gitkeep
sent_emails/*
!sent_emails/.gitkeep
runserver.log
*.pid

# Testing / reporting
.pytest_cache/
.coverage
.coverage.*
htmlcov/
test-results.xml
.tox/

# MyPy / lint caches
.mypy_cache/

# CI/CD artifacts
.cache/
.gitlab-ci-cache/
artifacts/

# Editors and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Security
*.pem
*.key
secrets.yml


