
{% extends "base.html" %}
{% load static %}
{% block title %}Enter Your Name{% endblock %}
{% block content %}
<div class="container">
    <h1 class="big-heading">Basic Questions</h1>
    <div class="name-container">
        <img src="{% static 'quiz/images/questions_icon.png' %}" alt="Questions" class="questions-icon" onerror="this.src='https://cdn-icons-png.flaticon.com/512/1946/1946488.png'">
        <h2>Let's Get to Know You!</h2>
        <p>Before we begin, please enter your name:</p>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Your Name" required autofocus>
            <input type="hidden" name="name_submit" value="true">
            <button type="submit">Start Questions</button>
        </form>
    </div>
    <p><a href="/quiz/">&#8592; Back to Home</a></p>
</div>
{% endblock %}
