<html>
  <body>
    <p>Hi {{ username }},</p>
    <p>We received a request to reset your password for Kids Quiz Game.</p>
    <p><strong><a href="{{ reset_url }}">Click to reset</a></strong></p>
    <p>If the link does not work, copy and paste this URL into your browser:<br/> {{ reset_url }}</p>
    <p>If you did not request this, you can ignore this email.</p>
    <p>Need help or have questions? <a href="{{ contact_url }}">Contact us</a>.</p>
    <p>Best wishes,<br/>The Kids Quiz Game Team</p>
  </body>
</html>
